*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

h1 {
    font-size: 50px;
    color: brown;
}

h2 {
    font-size: 30px;
    color: darkgoldenrod;
}

#texto {
    font-size: 18px;
    color: forestgreen;
}

.item ol {
    font-size: 18px;
    color: blue;
    text-align: center;
}

.item h2 {
    font-size: 30px;
    color:gold;
    text-align: center;
}

.itens li {
    background-color:red;
    margin: 10px;
    height: 15px;
    width: 200px;
}

.borda tr {
    border-color:darkorange;
    
}

.botao:hover {
    background-color: chartreuse;
}

